<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Register</servlet-name>
  	<display-name>Register</display-name>
  	<description></description>
  	<servlet-class>com.restaurant_management_system.controller.Register</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<display-name>Login</display-name>
  	<description></description>
  	<servlet-class>com.restaurant_management_system.controller.Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MakeReservation</servlet-name>
  	<display-name>MakeReservation</display-name>
  	<description></description>
  	<servlet-class>com.restaurant_management_system.controller.MakeReservation</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetMenu</servlet-name>
  	<display-name>GetMenu</display-name>
  	<description></description>
  	<servlet-class>com.restaurant_management_system.controller.GetMenu</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ContactUs</servlet-name>
  	<display-name>ContactUs</display-name>
  	<description></description>
  	<servlet-class>com.restaurant_management_system.controller.ContactUs</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddOrder</servlet-name>
  	<display-name>AddOrder</display-name>
  	<description></description>
  	<servlet-class>com.restaurant_management_system.controller.AddOrder</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddMenu</servlet-name>
  	<display-name>AddMenu</display-name>
  	<description></description>
  	<servlet-class>com.restaurant_management_system.controller.AddMenu</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditMenu</servlet-name>
  	<display-name>EditMenu</display-name>
  	<description></description>
  	<servlet-class>com.restaurant_management_system.controller.EditMenu</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateOrder</servlet-name>
  	<display-name>UpdateOrder</display-name>
  	<description></description>
  	<servlet-class>com.restaurant_management_system.controller.UpdateOrder</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetOrderHistory</servlet-name>
  	<display-name>GetOrderHistory</display-name>
  	<description></description>
  	<servlet-class>com.restaurant_management_system.controller.GetOrderHistory</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SetMenuUnavailable</servlet-name>
  	<display-name>SetMenuUnavailable</display-name>
  	<description></description>
  	<servlet-class>com.restaurant_management_system.controller.SetMenuUnavailable</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateOrderStatus</servlet-name>
  	<display-name>UpdateOrderStatus</display-name>
  	<description></description>
  	<servlet-class>com.restaurant_management_system.controller.UpdateOrderStatus</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetAvailableTime</servlet-name>
  	<display-name>GetAvailableTime</display-name>
  	<description></description>
  	<servlet-class>com.restaurant_management_system.controller.GetAvailableTime</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetAvailableTable</servlet-name>
  	<display-name>GetAvailableTable</display-name>
  	<description></description>
  	<servlet-class>com.restaurant_management_system.controller.GetAvailableTable</servlet-class>
  </servlet>
 
  <servlet-mapping>
  	<servlet-name>Register</servlet-name>
  	<url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MakeReservation</servlet-name>
  	<url-pattern>/MakeReservation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetMenu</servlet-name>
  	<url-pattern>/GetMenu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ContactUs</servlet-name>
  	<url-pattern>/ContactUs</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddOrder</servlet-name>
  	<url-pattern>/AddOrder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddMenu</servlet-name>
  	<url-pattern>/AddMenu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditMenu</servlet-name>
  	<url-pattern>/EditMenu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateOrder</servlet-name>
  	<url-pattern>/UpdateOrder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetOrderHistory</servlet-name>
  	<url-pattern>/GetOrderHistory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SetMenuUnavailable</servlet-name>
  	<url-pattern>/SetMenuUnavailable</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateOrderStatus</servlet-name>
  	<url-pattern>/UpdateOrderStatus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetAvailableTime</servlet-name>
  	<url-pattern>/GetAvailableTime</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetAvailableTable</servlet-name>
  	<url-pattern>/GetAvailableTable</url-pattern>
  </servlet-mapping>
  
</web-app>
